parameters:
    mailer_transport:       smtp
    mailer_host:            127.0.0.1
    mailer_user:            ~
    mailer_password:        ~

    locale:                 de
    secret:                 V3ryS3cr3t

    consumer_key:           CONSUMER_KEY
    consumer_secret:        CONSUMER_SECRET
    access_token:           ACCESS_TOKEN
    access_token_secret:    ACCESS_TOKEN_SECRET